# Kafka
KAFKA_BROKERS=16.58.103.76:9094
KAFKA_TOPIC=companies_systemwise
KAFKA_GROUP_ID=clickhouse-companies-consumer
KAFKA_AUTO_OFFSET=earliest

# ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

# Batching
BATCH_SIZE=1000
BATCH_TIMEOUT_SECS=5

# Logging
LOG_LEVEL=INFO
